.s_category_1 {
    .category_row {
        min-height: 128px;
    }
}

.s_category_2 {
    &.oe_img_bg {
        background-position: center center;
    }
    .category_row {
        min-height: 400px;
    }
}

.s_category_3 {
    &.oe_img_bg {
        background-position: center center;
    }
    .category_row {
        min-height: 400px;
    }
}

.s_category_4 {
    &.oe_img_bg {
        background-position: center center;
    }
    .category_row {
        min-height: 400px;
    }
}
